# 나이 정보가 없는 회원 수 구하기
USER_INFO 테이블에서 나이 정보가 없는 회원이 몇 명인지 출력하는 SQL문을 작성해주세요. 이때 컬럼명은 USERS로 지정해주세요.

In [ ]:
SELECT COUNT(*) AS USERS
FROM USER_INFO
WHERE AGE IS NULL;

# 어린 동물 찾기
동물 보호소에 들어온 동물 중 젊은 동물1의 아이디와 이름을 조회하는 SQL 문을 작성해주세요. 이때 결과는 아이디 순으로 조회해주세요.

In [ ]:
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION != 'Aged'
ORDER BY ANIMAL_ID

# 아픈 동물 찾기
동물 보호소에 들어온 동물 중 아픈 동물1의 아이디와 이름을 조회하는 SQL 문을 작성해주세요. 이때 결과는 아이디 순으로 조회해주세요.

In [ ]:
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION = 'Sick'
ORDER BY ANIMAL_ID

# 역순 정렬하기
동물 보호소에 들어온 모든 동물의 이름과 보호 시작일을 조회하는 SQL문을 작성해주세요. 이때 결과는 ANIMAL_ID 역순으로 보여주세요. SQL을 실행하면 다음과 같이 출력되어야 합니다.

In [ ]:
SELECT NAME, DATETIME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID DESC

# 분수의 덧셈 Lv.0
첫 번째 분수의 분자와 분모를 뜻하는 numer1, denom1, 두 번째 분수의 분자와 분모를 뜻하는 numer2, denom2가 매개변수로 주어집니다. 두 분수를 더한 값을 기약 분수로 나타냈을 때 분자와 분모를 순서대로 담은 배열을 return 하도록 solution 함수를 완성해보세요.

In [ ]:
# 내 답

import math

def solution(numer1, denom1, numer2, denom2):
    add_num = numer1 * denom2  + numer2 * denom1
    add_den = denom1 * denom2
    gcd_ = math.gcd(add_num, add_den)
    
    if gcd_ == 1:
        return [add_num, add_den]
    else:
        return [int(add_num / gcd_), int(add_den / gcd_)]

In [ ]:
import math

def solution(numer1, denom1, numer2, denom2):
    add_num = numer1 * denom2  + numer2 * denom1
    add_den = denom1 * denom2
    gcd_ = math.gcd(add_num, add_den)
    
    return [add_num // gcd_, add_den // gcd_]

# 최빈값 구하기 Lv.0
최빈값은 주어진 값 중에서 가장 자주 나오는 값을 의미합니다. 정수 배열 array가 매개변수로 주어질 때, 최빈값을 return 하도록 solution 함수를 완성해보세요. 최빈값이 여러 개면 -1을 return 합니다.

In [ ]:
# 내 답

def solution(array):
    result = []
    
    for i in set(array):
        result.append(array.count(i))
        
    if result.count(max(result)) > 1:
        return -1
    else:
        return list(set(array))[result.index(max(result))]

In [ ]:
def solution(array):
    while len(array) != 0:
        for i, a in enumerate(set(array)):
            array.remove(a)
        if i == 0: 
            return a
    return -1