## 양꼬치

* 머쓱이네 양꼬치 가게는 10인분을 먹으면 음료수 하나를 서비스로 줍니다. 양꼬치는 1인분에 12,000원, 음료수는 2,000원입니다. 정수 n과 k가 매개변수로 주어졌을 때, 양꼬치 n인분과 음료수 k개를 먹었다면 총얼마를 지불해야 하는지 return 하도록 solution 함수를 완성해보세요.

In [ ]:
# 내 답
def solution(n, k):
    result = 12000*n + 2000*k
    if n >= 10:
        result -= 2000*(n // 10)
    return result

In [ ]:
def solution(n, k):
    return 12000 * n + 2000 * (k - n // 10)

## 짝수의 합

* 정수 n이 주어질 때, n이하의 짝수를 모두 더한 값을 return 하도록 solution 함수를 작성해주세요.

In [ ]:
# 내 답
def solution(n):
    return sum(range(0, n+1, 2))

In [ ]:
def solution(n):
    return sum([i for i in range(2, n + 1, 2)])

In [ ]:
# 출처: 프로그래머스 코딩 테스트 연습
# https://school.programmers.co.kr/learn/challenges

## 리스트의 삭제

In [2]:
# 다음 리스트에서 400, 500를 삭제하는 code를 입력하세요.

nums = [100, 200, 300, 400, 500]

In [3]:
nums.pop()
nums.pop()
print(nums)

[100, 200, 300]

## 리스트의 내장함수

In [ ]:
l = [200, 100, 300]
<pass>
print(l)

# <pass>부분에 리스트 내장함수를 insert를 이용하여 코드를 입력하고 다음과 같이 출력되게 하세요.

# >> 출력

[200, 100, 10000, 300]

In [4]:
l = [200, 100, 300]
l.insert(2, 10000)
print(l)

[200, 100, 10000, 300]

## 변수의 타입

In [ ]:
# 다음 출력 값으로 올바른 것은?

l = [100, 200, 300]
print(type(l))

# 1)  class 'str'
# 2)  class 'int'
# 3)  class 'list'
# 4)  class 'tuple'

In [ ]:
# 3) class 'list

In [5]:
l = [100, 200, 300]
print(type(l))

<class 'list'>

## 변수의 타입2

In [ ]:
# 다음 변수 a를 print(type(a))로 넣었을 때 출력될 값과의 연결이 알맞지 않은 것은?

# 1)  입력 : a =1,   출력 : class 'int'

# 2)  입력 : a = 2.22,   출력 : class 'float'

# 3)  입력 : a = 'p',   출력 : class 'char'

# 4)  입력 : a = [1, 2, 3],   출력 : class 'list'

In [ ]:
# 3)

In [6]:
a = 'p'
print(type(a))

<class 'str'>

## for문 계산

In [ ]:
# 다음 코드의 출력 값으로 알맞은 것은?

a = 10
b = 2
for i in range(1, 5, 2):
    a += i

print(a+b)

# 1)  10
# 2)  12
# 3)  14
# 4)  16

In [ ]:
# 4)

In [7]:
a = 10
b = 2
for i in range(1, 5, 2):
    a += i

print(a+b)

16

In [ ]:
# 출처 Python 100제