## 학점

In [ ]:
score = int(input('점수를 입력하세요 : '))
결석일수 = int(input('결석을 몇 번 했는지 적으세요 : '))

if 결석일수 >= 3:
    print('F')
elif score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 60:
    print('C')
elif score >= 40: 
    print('D')  
else:
    print('F')

In [ ]:
score = int(input('점수를 입력하세요 : '))
결석일수 = int(input('결석을 몇 번 했는지 적으세요 : '))

if 결석일수 < 3:
    if score >= 90:
        print('A')
    elif score >= 80:
        print('B')
    elif score >= 60:
        print('C')
    elif score >= 40: 
        print('D')
    else:
        print('F')
else:
    print('F')

## 홀수, 짝수 구별

In [ ]:
num = int(input('숫자를 입력하세요 : '))

if num % 2 == 0:
    print(f'{num}은 짝수입니다.')
else:
    print(f'{num}은 홀수입니다.')

## 커피 사고 거스름돈 주기

* money에는 현재 돈이 얼마 있는지 input으로 받고
* 커피는 600원,  1000원, 1500원 세가지가 있습니다.
* 돈이 있어서 커피를 샀으면 거스름돈을 계산하고 만약에 돈이 부족하면 메세지를 띄워주세요.

In [ ]:
money = int(input('현재 얼마있습니까 : '))
coffee = int(input('어떤 커피를 구매하시겠습니까? (600, 1000, 1500) : '))
거스름돈 = money-coffee

if coffee == 1500:
    if money >= 1500:
        print(f'구매되었습니다. 거스름돈은 {거스름돈}입니다.')
    else:
        print('잔액이 부족합니다.')
elif coffee == 1000:
    if money >= 1000:
        print(f'구매되었습니다. 거스름돈은 {거스름돈}입니다.')
    else:
        print('잔액이 부족합니다.')
elif coffee == 600:
    if money >= 600:
        print(f'구매되었습니다. 거스름돈은 {거스름돈}입니다.')
    else:
        print('잔액이 부족합니다.')

In [ ]:
money = int(input('현재 얼마있습니까? : '))
coffee = int(input('얼마짜리 커피?(600, 1000, 1500 중 택1 : '))
거스름돈 = money - coffee

if (coffee == 600 or 1000 or 1500) and money - coffee >= 0:
    print(f'거스름돈은{거스름돈}입니다.')
else:
    print('잔액부족')

In [ ]:
# dic 활용
money = int(input('현재 얼마있습니까 : '))
coffee = int(input('어떤 커피를 구매하시겠습니까? (600, 1000, 1500) : '))

prices = {600: '600원', 1000: '1000원', 1500: '1500원'}
if coffee not in prices:
    print('잘못된 커피값입니다. 600, 1000, 1500 중 하나를 입력해주세요.')
else:
    if money >= coffee: 
        change = money - coffee
        print(f"{prices[coffee]} 커피를 구매하셨습니다. 거스름돈은 {change}원 입니다.")
    else:
        print('잔액이 부족합니다.')

## 만나이로 변경

* 태어난 연도를 입력받아 생애주기 받기 2023년 6월 28일부터 만나이로 변경이 되면서
* 나이에 혼선이 생기고 있는 가운데 정부 연령기준에 맞춰 자신이 어떤 나이대인지 찾아보자
* 태어난 연도를 입력받는다.
* 만나이 적용 날짜를 산출한다.
* if문을 통해 어떤 종류의 생애주기 인지를 출력한다.
* 만나이를 계산하고, 만나이 기준 생애주기를 출력하세요.

In [ ]:
import datetime
from datetime import timedelta, timezone

year = int(input('태어난 연도를 입력하세요 : '))
month = int(input('태어난 월을 입력하세요 : '))
day = int(input('태어난 일을 입력하세요 : '))

birthday = datetime.date(year, month, day)

# 현재 날짜
# today = datetime.date.today()

# 만 나이 적용일자
# datetime.date(2023, 6, 28)

d_day = datetime.date(2023, 6, 28)

# 만나이 계산

age = d_day.year - birthday.year - ((d_day.month, d_day.day) < (birthday.month, birthday.day))

## for문 활용 1

In [1]:
for i in range(100):
    print(f'{i} 물고기를 잡았습니다')
    if i == 5:
        print('만선입니다.')
        break
else:
    print('아직 여유가 있습니다.')
print('수고하셨습니다.')

0 물고기를 잡았습니다
1 물고기를 잡았습니다
2 물고기를 잡았습니다
3 물고기를 잡았습니다
4 물고기를 잡았습니다
5 물고기를 잡았습니다
만선입니다.
수고하셨습니다.

## for문 활용 2

In [2]:
l = [0, 3, -1, 10]

for x in l:
    if x < 0:
        print('음수가 발견되었습니다. 프로그램을 종료합니다.')
        break
else:
    print('음수를 발견하지 못했습니다.')

음수가 발견되었습니다. 프로그램을 종료합니다.

## for문 활용 3

In [3]:
for i in range(10):

    if i == 3:
        break
    
    if i == 1:
        continue

print(i)

3

In [4]:
for i in range(10):

    if i == 3:
        break
    
    if i == 1:
        continue

    print(i)

0
2

In [5]:
for a in range(8):
    a += 1
print(a)

8

In [6]:
for a in range(8):
    a *= (a - 1)
print(a)

42

In [7]:
for a in range(8):
    a += a
print(a)

14

In [8]:
for a in range(8):
    a *= 1
print(a)

7

## for문 활용 4 : 구구단

In [ ]:
for i in range(1, 10):
    for j in range(1, 10):
        print(i, j, i*j)

In [ ]:
# 구구단 5단까지 출력하기

for i in range(2, 10):
    for j in range(1, 10):
        if j > 5:
            break
        print(f'{i} x {j} = {i*j}')

## for문 활용 5 : 입력받은 숫자만큼 반복하기

In [ ]:
num = int(input())

for i in range(num):
    print(num)

## for문 활용 6 : 제곱

In [ ]:
num = int(input('정수 : '))

for i in range(1, num + 1):
    print(i, i * i)

## while문 활용 1 : 구구단

In [ ]:
i = 2

while i < 10:
    k = 1
    while k < 10:
        print(i, 'x', k, '=', i * k)
        k += 1
    i += 1

## while문 활용 2 : 1~10까지 중 짝수 뽑기

In [9]:
a = 1

while a < 11:
    if a % 2 == 0:
        print(a)
        a += 1
    else:
        a += 1

    if a == 0:
        break

2
4
6
8
10

## while문 활용 3

In [10]:
money = 2000
snack = 500
water = 1000
while money != 0:
    if money > 1000:
        money -= water
    elif 0 < money <= 1000:
        money -= snack * 2
print(money)

0

## while문 활용 4 : 특정 데이터 제거

In [11]:
cust_all = [1, 2, 1, 2]
value = 1

while value in cust_all:
    cust_all.remove(value)

print(cust_all)

[2, 2]

## while문 활용 5 : 1~100 사이의 숫자를 맞출 때까지 반복

In [ ]:
import random

guess_number = random.randint(1, 100)
user_input = int(input('숫자를 입력해서 맞춰보세요'))

while guess_number != user_input:
    if user_input > guess_number:
        print('숫자가 큽니다.')
    else:
        print('숫자가 작습니다.')
    user_input = int(input('숫자를 입력해서 맞춰보세요'))
else:
    print('맞췄습니다.')

## while문 활용 6 : 입력받은 숫자만큼 반복하기

In [ ]:
num = int(input())
i = 0

while i < num:
    print(num)
    i += 1

## while문 활용 7 : 제곱

* 정수를 한 개 입력받아, 1부터 입력받은 수까지 각각에 대해 제곱을 구해 프린트하는 프로그램을 작성해 보세요. 단, while 문을 사용하세요.

In [ ]:
num = int(input('정수 : '))
i = 1

while i <= num:
    print(i, i * i)
    i += 1

## while문 활용 8 : 공 튀기기

* 고무 공을 100 미터 높이에서 떨어뜨리는데, 이 공은 땅에 닿을 때마다 원래 높이의 3/5 만큼 튀어오릅니다. 
* 공이 열 번 튈 동안, 그때마다 공의 높이를 계산합니다.

In [12]:
height = 100
i = 1

while i <= 10:
    height *= (3/5)
    print(i, round(height, 4))
    i += 1

1 60.0
2 36.0
3 21.6
4 12.96
5 7.776
6 4.6656
7 2.7994
8 1.6796
9 1.0078
10 0.6047

## while문 활용 9

In [13]:
# 출력값은?

number = 358

rem = rev = 0
while number >= 1:
    rem = number % 10
    rev = rev * 10 + rem
    number = number // 10

print(rev)

853

## while문 활용 10

* input()으로 사용자로부터 입력받은 정수를 계속 더해나가다가, 
* 음수가 입력되면 중단하고 그 전까지 계산한 값을 출력하는 파이썬 스크립트를 작성하세요.

In [ ]:
num = int(input('정수를 입력하세요 : '))
sum = 0

while num >= 0:
    sum += num
    num = int(input('정수를 입력하세요 : '))

print(sum)

In [ ]:
# 보완

sum = 0
while True:
    num = int(input())
    if num < 0:
        break
    else:
       sum += num

print(sum)

## if문 활용 1

* input()을 사용해 사용자로부터 입력받은 숫자를 한글로 출력하는 프로그램을 작성하세요. 
* 단, 사용자는 1 이상 3 이하의 정수 중 하나를 입력한다고 가정합니다.

In [ ]:
num = int(input('1~3사이의 정수를 입력하세요 : '))

if num == 1:
    print('일')
elif num == 2:
    print('이')
else:
    print('삼')

## if문 활용 2 : 세대 구분

In [ ]:
age = int(input('나이를 입력하세요 : '))

if 1946 <= 2024 - age < 1965:
    print('베이비붐 세대')
elif 2024 - age <= 1980:
    print('X세대')
elif 2024 - age <= 1996:
    print('밀레니얼 세대')
else:
    print('Z세대')

## if문 활용 3 : 단위 변경

* 백만 이상의 숫자를 입력받았을 때 1~10만자리 숫자를 생략하고 ‘M’을 붙여서 출력하게 코드를 수정해보세요.

In [ ]:
num = int(input('숫자를 입력해주세요 : '))

if num >= 1000000:
    print(str(num // 100000) + 'M')
else:
    print(num)

In [ ]:
#보완

num = int(input())
result = str(num)
    
if num >= 1000000:
    result = str(num // 1000000) + 'M'

elif num >= 0:
    pass
    
print(result)

## if문 활용 4 : 윤년

In [ ]:
year = int(input('년도를 입력하세요 : '))

if year % 4 == 0 and year % 100 == 0 and year % 400 == 0:
    print('윤년')
elif year % 4 == 0 and year % 100 == 0:
    print('평년')
elif year % 4 == 0:
    print('윤년')
else:
    print('평년')

In [ ]:
year = int(input('년도를 입력하세요: '))

if year % 4 != 0:
    print('평년')
elif year % 100 != 0:
    print('윤년')
elif year % 400 != 0:
    print('평년')
else:
    print('윤년')

## 배열 자르기

* 정수 배열 numbers와 정수 num1, num2가 매개변수로 주어질 때, numbers의 num1번 째 인덱스부터 num2번째 인덱스까지 자른 정수 배열을 return 하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(numbers, num1, num2):
    return numbers[num1 : num2 + 1]