In [ ]:
# *****
# *****
# *****
# *****
# *****

In [ ]:
for i in range(5):
    for i in range(5):
        print('*', end='')
    print()

*****
*****
*****
*****
*****

In [ ]:
for i in range(5):
        print('*' * 5)

*****
*****
*****
*****
*****

In [ ]:
# *
# **
# ***
# ****
# *****

In [ ]:
for i in range(1, 6):
    print('*'*i)

*
**
***
****
*****

In [ ]:
# 10의 단위로 줄바꿈

x = int(input())

for i in range(1, x + 1):
    if (i - 1) % 10 == 9:
        print(i)
    else:
        print(i, end=' ')

30
1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30

In [ ]:
# 로또 번호

import random

lotto = int(input('몇 개 살거에요?  '))

for i in range(lotto):
    lotto_number = random.sample(range(1, 46), 6)
    print(sorted(lotto_number))

몇 개 살거에요? : 3
[9, 23, 27, 28, 29, 33]
[3, 5, 8, 12, 33, 36]
[4, 12, 17, 33, 34, 41]

In [ ]:
# 입력한 수 - 20수 출력, 0 이하의 수는 0, 255 이상은 255

user = int(input())
num = user - 20

if num < 0:
    print(0)
elif num > 255:
    print(255)
else:
    print(num)

In [ ]:
# 정각 판별

user = input()
time = user.split(':')

if time[1] == '00':
    print('정각 입니다.')
else:
    print('정각이 아닙니다.')

02:00
정각 입니다.

In [ ]:
# 소문자는 대문자로, 대문자는 소문자로

user = input()

if user.isupper():
    print(user.lower())
else:
    print(user.upper())

A
a

In [ ]:
# 환전

rate = {'달러' : 1167,
        '엔' : 1.096,
        '유로' : 1268,
        '위안' : 171}

user = input()
num, currency = user.split()
print(float(num) * rate[currency], '원')

100 달러
116700.0 원

In [ ]:
# 통신사

number = {'011' : 'SKT', '016' : 'KT', '019' : 'LGU', '010' : '알수없음'}

user = input()
use = user.split('-')
print(f'당신은 {number[use[0]]} 사용자입니다.')

016-1111-1111
당신은 KT 사용자입니다.

In [ ]:
# 번지수

user = input()

if user[2] in ['0', '1', '2']:
    print('강북구')
elif user[2] in ['3', '4', '5']:
    print('도봉구')
else:
    print('노원구')

01400
도봉구

In [ ]:
# 주민등록번호 남,녀 판별

주민등록번호 = input()
주민등록번호 = 주민등록번호.split('-')[1][0]

if 주민등록번호 in ['1', '3']:
    print('남자')
else:
    print('여자')

123123-232323
여자

In [ ]:
# 주민등록번호 지역 판별

주민등록번호 = input()
주민등록번호 = int(주민등록번호.split('-')[1][1:3])

if 0 <= 주민등록번호 <= 8:
    print('서울입니다.')
else:
    print('서울이 아닙니다.')

861010-1015210
서울입니다.